/* couleurs de wikipedia
https://meta.wikimedia.org/wiki/Wiki_color_formatting_help
 */
:root {
  --wp-red: #d33;
  --wp-light-blue: #eaf3ff;
  --wp-blue: #36c;
  --wp-dark-blue: #2a4b8d;
  --wp-green: #00af89;
}
html {
  background-color: #f6f6f6;
  font-family: sans-serif;
}
.container {
  background-color: #fff;
  max-width: 1020px;
  margin: 0 auto;
  padding: 1.25em 1.5em 1.5em 1.5em;
  border: 1px solid #a7d7f9;
  border-right-width: 1px;
  border-right-width: 0;
}

.cadre {
  box-shadow: 0 0 0.3rem #999;
  border-radius: 0.2rem;
  padding: 1.2rem;
  margin-bottom: 1.6rem;
  margin-top: 0.4rem;
}

footer {
  max-width: 1020px;
  margin: 0 auto;
}
/* from wikipedia  */
h1,
h2,
h3 {
  color: #000;
  background: none;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0px;
  overflow: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
  border-bottom: 1px solid #a2a9b1;
}

p {
  color: #222222;
  font-size: calc(1em * 0.875);
  line-height: 1.6;
  margin: 0.5em 0;
}

table {
  width: 100%;
  padding-top: 10px;
}
td {
  width: 33%;
}

td > p,
td > em {
  font-size: 1.7rem;
}

tr {
  text-align: center;
}
#game {
  display: flex;
}
.img-pendu {
  text-align: center;
}

/* Boutons */
button {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 7px 18px;
  font-size: 16px;
  border-radius: 5px;
  border: solid 1px #3866a3;
  background: var(--wp-dark-blue);
  background: linear-gradient(var(--wp-dark-blue), var(--wp-blue));
  /* text-shadow: 1px 1px 0px var(--wp-light-blue); */
  box-shadow: inset 1px 1px 0px 0px var(--wp-light-blue);
}
button:hover {
  background: var(--wp-blue);
  background: linear-gradient(var(--wp-blue), var(--wp-dark-blue));
}
button:active {
  position: relative;
  top: 1px;
}
button > a {
  text-decoration: none;
  color: white;
}

#alphabet {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding: 0.3em 0;
  margin-bottom: 2rem;
}

#mot-a-trouver {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
#mot-a-trouver > kbd {
  flex: 0 1 auto;
  font-size: 3em;
}

/* Alphabet  */

.letter {
  background-color: var(--wp-blue);
  border: 3px solid var(--wp-light-blue);
  border-radius: 0.5em;
  color: #fff;
  font-weight: bold;
  margin: 0.1em;
  padding: 0.7em;
  text-align: center;
}

.guessed {
  color: whitesmoke;
  background-color: var(--wp-green);
  font-weight: bold;
}

.missed {
  color: whitesmoke;
  background-color: var(--wp-red);
  font-weight: bold;
}

.selected:hover {
  cursor: not-allowed !important;
}

/* Animation sur la sélection */
@keyframes letter-selection {
  25% {
    background-color: #333;
    color: var(--wp-light-blue);
    font-weight: bolder;
    margin: 0em;
    padding: 0.8em;
  }
}

.selected {
  animation-name: letter-selection;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

.letter:hover {
  cursor: grab;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

/* Place l'imagette à droite des aides
https://www.w3schools.com/css/css_float_clear.asp
*/
.right {
  float: right;
  padding-left: 1rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  text-align: justify;
}

#help {
  min-height: 120px;
}

/* spinner loading issu de w3schools
https://www.w3schools.com/howto/howto_css_loader.asp
*/
.loader {
  border: 16px solid var(--wp-light-blue);
  border-top: 16px solid var(--wp-blue);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: calc(26px + (256px - 120px) / 2) auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box 
https://www.w3schools.com/howto/howto_css_modals.asp
*/
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 1020px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-footer {
  color: var(--wp-red);
}
